
<mat-toolbar class="mat-elevation-z3 " >
    <button mat-icon-button (click)="collapsed.set(!collapsed())" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text">Nabi Crochet</span>
  </mat-toolbar>
  
  <mat-sidenav-container style="background-color: white; ">
    <mat-sidenav opened mode="side" [style.width]="sidevabWidth()"  class="border">
     <app-menu [collapsed]="collapsed()"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidevabWidth()">
      <router-outlet/>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  